name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    strategy:
      matrix:
        directory:
          - ./bot
          - ./sec_store
          - ./stated_dialogues

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ matrix.directory }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup | Rust
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        rust-version: stable
        components: clippy
    - name: Lint | Clippy
      run: cargo clippy
    - name: Lint | Cargo fmt
      run: cargo fmt --check

  test:
    name: Test and build
    strategy:
      matrix:
        os:
          - ubuntu-latest
          # - macOS-latest
          # - windows-latest
        directory:
          - ./bot
          - ./sec_store
          - ./stated_dialogues

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
        working-directory: ${{ matrix.directory }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup | Rust
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        rust-version: stable
        components: clippy
    - name: Tests
      run: cargo test
    - name: Build
      run: cargo build --release


